In [14]:
import pandas as pd

In [15]:
data1 = pd.read_csv('C:\workspace\elice_jupyter\data\weather\ODAM_20201224.csv', skiprows=23, on_bad_lines='skip')
data2 = pd.read_csv('C:\workspace\elice_jupyter\data\weather\ODAM_20201225.csv', skiprows=23, on_bad_lines='skip')

In [16]:
def checkWeather(num):
    if num == 0:
        return '맑음'
    elif num == 2 or num == 3 or num == 6 or num == 7:
        return '눈'
    else:
        return '비'

In [17]:
def linkDfData(df, data):
    dataList = list(data.iloc[244868].items())

    newDf = pd.DataFrame({})
    for i in range(len(dataList)):
        if i == 0:
            date = dataList[0][0]
        else:
            newDf = pd.concat([newDf,pd.DataFrame({'date':pd.to_datetime(date+' ' +dataList[i][0].split('h')[0]+':00'),'weather' : checkWeather(dataList[i][1])}, index=[i])])

    return pd.concat([df, newDf])

In [18]:
import os
path = 'C:\workspace\elice_jupyter\data\weather'
file_list = os.listdir(path)
file_list_py = [file for file in file_list if file.endswith('.csv')] ## 파일명 끝이 .csv인 경우
file_list_py

['ODAM_20200831.csv',
 'ODAM_20200901.csv',
 'ODAM_20200902.csv',
 'ODAM_20200903.csv',
 'ODAM_20200904.csv',
 'ODAM_20200905.csv',
 'ODAM_20200906.csv',
 'ODAM_20200907.csv',
 'ODAM_20200908.csv',
 'ODAM_20200909.csv',
 'ODAM_20200910.csv',
 'ODAM_20200911.csv',
 'ODAM_20200912.csv',
 'ODAM_20200913.csv',
 'ODAM_20200914.csv',
 'ODAM_20200915.csv',
 'ODAM_20200916.csv',
 'ODAM_20200917.csv',
 'ODAM_20200918.csv',
 'ODAM_20200919.csv',
 'ODAM_20200920.csv',
 'ODAM_20200921.csv',
 'ODAM_20200922.csv',
 'ODAM_20200923.csv',
 'ODAM_20200924.csv',
 'ODAM_20200925.csv',
 'ODAM_20200926.csv',
 'ODAM_20200927.csv',
 'ODAM_20200928.csv',
 'ODAM_20200929.csv',
 'ODAM_20200930.csv',
 'ODAM_20201001.csv',
 'ODAM_20201002.csv',
 'ODAM_20201003.csv',
 'ODAM_20201004.csv',
 'ODAM_20201005.csv',
 'ODAM_20201006.csv',
 'ODAM_20201007.csv',
 'ODAM_20201008.csv',
 'ODAM_20201009.csv',
 'ODAM_20201010.csv',
 'ODAM_20201011.csv',
 'ODAM_20201012.csv',
 'ODAM_20201013.csv',
 'ODAM_20201014.csv',
 'ODAM_20201015.csv',
 'ODAM_20201016.csv',
 'ODAM_20201017.csv',
 'ODAM_20201018.csv',
 'ODAM_20201019.csv',
 'ODAM_20201020.csv',
 'ODAM_20201021.csv',
 'ODAM_20201022.csv',
 'ODAM_20201023.csv',
 'ODAM_20201024.csv',
 'ODAM_20201025.csv',
 'ODAM_20201026.csv',
 'ODAM_20201027.csv',
 'ODAM_20201028.csv',
 'ODAM_20201029.csv',
 'ODAM_20201030.csv',
 'ODAM_20201031.csv',
 'ODAM_20201101.csv',
 'ODAM_20201102.csv',
 'ODAM_20201103.csv',
 'ODAM_20201104.csv',
 'ODAM_20201105.csv',
 'ODAM_20201106.csv',
 'ODAM_20201107.csv',
 'ODAM_20201108.csv',
 'ODAM_20201109.csv',
 'ODAM_20201110.csv',
 'ODAM_20201111.csv',
 'ODAM_20201112.csv',
 'ODAM_20201113.csv',
 'ODAM_20201114.csv',
 'ODAM_20201115.csv',
 'ODAM_20201116.csv',
 'ODAM_20201117.csv',
 'ODAM_20201118.csv',
 'ODAM_20201119.csv',
 'ODAM_20201120.csv',
 'ODAM_20201121.csv',
 'ODAM_20201122.csv',
 'ODAM_20201123.csv',
 'ODAM_20201124.csv',
 'ODAM_20201125.csv',
 'ODAM_20201126.csv',
 'ODAM_20201127.csv',
 'ODAM_20201128.csv',
 'ODAM_20201129.csv',
 'ODAM_20201130.csv',
 'ODAM_20201201.csv',
 'ODAM_20201202.csv',
 'ODAM_20201203.csv',
 'ODAM_20201204.csv',
 'ODAM_20201205.csv',
 'ODAM_20201206.csv',
 'ODAM_20201207.csv',
 'ODAM_20201208.csv',
 'ODAM_20201209.csv',
 'ODAM_20201210.csv',
 'ODAM_20201211.csv',
 'ODAM_20201212.csv',
 'ODAM_20201213.csv',
 'ODAM_20201214.csv',
 'ODAM_20201215.csv',
 'ODAM_20201216.csv',
 'ODAM_20201217.csv',
 'ODAM_20201218.csv',
 'ODAM_20201219.csv',
 'ODAM_20201220.csv',
 'ODAM_20201221.csv',
 'ODAM_20201222.csv',
 'ODAM_20201223.csv',
 'ODAM_20201224.csv',
 'ODAM_20201225.csv',
 'ODAM_20201226.csv',
 'ODAM_20201227.csv',
 'ODAM_20201228.csv',
 'ODAM_20201229.csv',
 'ODAM_20201230.csv',
 'ODAM_20201231.csv',
 'ODAM_20210101.csv',
 'ODAM_20210102.csv',
 'ODAM_20210103.csv',
 'ODAM_20210104.csv',
 'ODAM_20210105.csv',
 'ODAM_20210106.csv',
 'ODAM_20210107.csv',
 'ODAM_20210108.csv',
 'ODAM_20210109.csv',
 'ODAM_20210110.csv',
 'ODAM_20210111.csv',
 'ODAM_20210112.csv',
 'ODAM_20210113.csv',
 'ODAM_20210114.csv',
 'ODAM_20210115.csv',
 'ODAM_20210116.csv',
 'ODAM_20210117.csv',
 'ODAM_20210118.csv',
 'ODAM_20210119.csv',
 'ODAM_20210120.csv',
 'ODAM_20210121.csv',
 'ODAM_20210122.csv',
 'ODAM_20210123.csv',
 'ODAM_20210124.csv',
 'ODAM_20210125.csv',
 'ODAM_20210126.csv',
 'ODAM_20210127.csv',
 'ODAM_20210128.csv',
 'ODAM_20210129.csv',
 'ODAM_20210130.csv',
 'ODAM_20210131.csv',
 'ODAM_20210201.csv',
 'ODAM_20210202.csv',
 'ODAM_20210203.csv',
 'ODAM_20210204.csv',
 'ODAM_20210205.csv',
 'ODAM_20210206.csv',
 'ODAM_20210207.csv',
 'ODAM_20210208.csv',
 'ODAM_20210209.csv',
 'ODAM_20210210.csv',
 'ODAM_20210211.csv',
 'ODAM_20210212.csv',
 'ODAM_20210213.csv',
 'ODAM_20210214.csv',
 'ODAM_20210215.csv',
 'ODAM_20210216.csv',
 'ODAM_20210218.csv',
 'ODAM_20210219.csv',
 'ODAM_20210220.csv',
 'ODAM_20210221.csv',
 'ODAM_20210222.csv',
 'ODAM_20210223.csv',
 'ODAM_20210224.csv',
 'ODAM_20210225.csv',
 'ODAM_20210226.csv',
 'ODAM_20210227.csv',
 'ODAM_20210228.csv',
 'ODAM_20210301.csv',
 'ODAM_20210302.csv',
 'ODAM_20210303.csv',
 'ODAM_20210304.csv',
 'ODAM_20210305.csv',
 'ODAM_20210306.csv',
 'ODAM_20210307.csv',
 'ODAM_20210308.csv',
 'ODAM_20210309.csv',
 'ODAM_20210310.csv',
 'ODAM_20210311.csv',
 'ODAM_20210312.csv',
 'ODAM_20210313.csv',
 'ODAM_20210314.csv',
 'ODAM_20210315.csv',
 'ODAM_20210316.csv',
 'ODAM_20210317.csv',
 'ODAM_20210318.csv',
 'ODAM_20210319.csv',
 'ODAM_20210320.csv',
 'ODAM_20210321.csv',
 'ODAM_20210322.csv',
 'ODAM_20210323.csv',
 'ODAM_20210324.csv',
 'ODAM_20210325.csv',
 'ODAM_20210326.csv',
 'ODAM_20210327.csv',
 'ODAM_20210328.csv',
 'ODAM_20210329.csv',
 'ODAM_20210330.csv',
 'ODAM_20210331.csv',
 'ODAM_20210401.csv',
 'ODAM_20210402.csv',
 'ODAM_20210403.csv',
 'ODAM_20210404.csv',
 'ODAM_20210405.csv',
 'ODAM_20210406.csv',
 'ODAM_20210407.csv',
 'ODAM_20210408.csv',
 'ODAM_20210409.csv',
 'ODAM_20210410.csv',
 'ODAM_20210411.csv',
 'ODAM_20210412.csv',
 'ODAM_20210413.csv',
 'ODAM_20210414.csv',
 'ODAM_20210415.csv',
 'ODAM_20210416.csv',
 'ODAM_20210417.csv',
 'ODAM_20210418.csv',
 'ODAM_20210419.csv',
 'ODAM_20210420.csv',
 'ODAM_20210421.csv',
 'ODAM_20210422.csv',
 'ODAM_20210423.csv',
 'ODAM_20210424.csv',
 'ODAM_20210425.csv',
 'ODAM_20210426.csv',
 'ODAM_20210427.csv',
 'ODAM_20210428.csv',
 'ODAM_20210429.csv',
 'ODAM_20210430.csv',
 'ODAM_20210501.csv',
 'ODAM_20210502.csv',
 'ODAM_20210503.csv',
 'ODAM_20210504.csv',
 'ODAM_20210505.csv',
 'ODAM_20210506.csv',
 'ODAM_20210507.csv',
 'ODAM_20210508.csv',
 'ODAM_20210509.csv',
 'ODAM_20210510.csv',
 'ODAM_20210511.csv',
 'ODAM_20210512.csv',
 'ODAM_20210513.csv',
 'ODAM_20210514.csv',
 'ODAM_20210515.csv',
 'ODAM_20210516.csv',
 'ODAM_20210517.csv',
 'ODAM_20210518.csv',
 'ODAM_20210519.csv',
 'ODAM_20210520.csv',
 'ODAM_20210521.csv',
 'ODAM_20210522.csv',
 'ODAM_20210523.csv',
 'ODAM_20210524.csv',
 'ODAM_20210525.csv',
 'ODAM_20210526.csv',
 'ODAM_20210527.csv',
 'ODAM_20210528.csv',
 'ODAM_20210529.csv',
 'ODAM_20210530.csv',
 'ODAM_20210531.csv',
 'ODAM_20210601.csv',
 'ODAM_20210602.csv',
 'ODAM_20210603.csv',
 'ODAM_20210604.csv',
 'ODAM_20210605.csv',
 'ODAM_20210606.csv',
 'ODAM_20210607.csv',
 'ODAM_20210608.csv',
 'ODAM_20210609.csv',
 'ODAM_20210610.csv',
 'ODAM_20210611.csv',
 'ODAM_20210612.csv',
 'ODAM_20210613.csv',
 'ODAM_20210614.csv',
 'ODAM_20210615.csv',
 'ODAM_20210616.csv',
 'ODAM_20210617.csv',
 'ODAM_20210618.csv',
 'ODAM_20210619.csv',
 'ODAM_20210620.csv',
 'ODAM_20210621.csv',
 'ODAM_20210622.csv',
 'ODAM_20210623.csv',
 'ODAM_20210624.csv',
 'ODAM_20210625.csv',
 'ODAM_20210626.csv',
 'ODAM_20210627.csv',
 'ODAM_20210628.csv',
 'ODAM_20210629.csv',
 'ODAM_20210630.csv',
 'ODAM_20210701.csv',
 'ODAM_20210702.csv',
 'ODAM_20210703.csv',
 'ODAM_20210704.csv',
 'ODAM_20210705.csv',
 'ODAM_20210706.csv',
 'ODAM_20210707.csv',
 'ODAM_20210708.csv',
 'ODAM_20210710.csv',
 'ODAM_20210711.csv',
 'ODAM_20210712.csv',
 'ODAM_20210713.csv',
 'ODAM_20210714.csv',
 'ODAM_20210715.csv',
 'ODAM_20210716.csv',
 'ODAM_20210717.csv',
 'ODAM_20210718.csv',
 'ODAM_20210719.csv',
 'ODAM_20210720.csv',
 'ODAM_20210722.csv',
 'ODAM_20210723.csv',
 'ODAM_20210724.csv',
 'ODAM_20210725.csv',
 'ODAM_20210726.csv',
 'ODAM_20210727.csv',
 'ODAM_20210728.csv',
 'ODAM_20210729.csv',
 'ODAM_20210730.csv',
 'ODAM_20210731.csv',
 'ODAM_20210801.csv',
 'ODAM_20210802.csv',
 'ODAM_20210803.csv',
 'ODAM_20210804.csv',
 'ODAM_20210805.csv',
 'ODAM_20210806.csv',
 'ODAM_20210807.csv',
 'ODAM_20210808.csv',
 'ODAM_20210809.csv',
 'ODAM_20210810.csv',
 'ODAM_20210811.csv',
 'ODAM_20210812.csv',
 'ODAM_20210813.csv',
 'ODAM_20210814.csv',
 'ODAM_20210815.csv',
 'ODAM_20210816.csv',
 'ODAM_20210817.csv',
 'ODAM_20210818.csv',
 'ODAM_20210819.csv',
 'ODAM_20210820.csv',
 'ODAM_20210821.csv',
 'ODAM_20210822.csv',
 'ODAM_20210823.csv',
 'ODAM_20210824.csv',
 'ODAM_20210825.csv',
 'ODAM_20210826.csv',
 'ODAM_20210827.csv',
 'ODAM_20210828.csv',
 'ODAM_20210829.csv',
 'ODAM_20210830.csv',
 'ODAM_20210831.csv',
 'ODAM_20210901.csv',
 'ODAM_20210902.csv',
 'ODAM_20210903.csv',
 'ODAM_20210904.csv',
 'ODAM_20210905.csv',
 'ODAM_20210906.csv',
 'ODAM_20210907.csv',
 'ODAM_20210908.csv',
 'ODAM_20210909.csv',
 'ODAM_20210910.csv',
 'ODAM_20210911.csv',
 'ODAM_20210912.csv',
 'ODAM_20210913.csv',
 'ODAM_20210914.csv',
 'ODAM_20210915.csv',
 'ODAM_20210916.csv',
 'ODAM_20210917.csv',
 'ODAM_20210918.csv',
 'ODAM_20210919.csv',
 'ODAM_20210920.csv',
 'ODAM_20210921.csv',
 'ODAM_20210922.csv',
 'ODAM_20210923.csv',
 'ODAM_20210924.csv',
 'ODAM_20210925.csv',
 'ODAM_20210926.csv',
 'ODAM_20210927.csv',
 'ODAM_20210928.csv',
 'ODAM_20210929.csv',
 'ODAM_20210930.csv',
 'ODAM_20211001.csv',
 'ODAM_20211002.csv',
 'ODAM_20211003.csv',
 'ODAM_20211004.csv',
 'ODAM_20211005.csv',
 'ODAM_20211006.csv',
 'ODAM_20211007.csv',
 'ODAM_20211008.csv',
 'ODAM_20211009.csv',
 'ODAM_20211010.csv',
 'ODAM_20211011.csv',
 'ODAM_20211012.csv',
 'ODAM_20211013.csv',
 'ODAM_20211014.csv',
 'ODAM_20211015.csv',
 'ODAM_20211016.csv',
 'ODAM_20211017.csv',
 'ODAM_20211018.csv',
 'ODAM_20211019.csv',
 'ODAM_20211020.csv',
 'ODAM_20211021.csv',
 'ODAM_20211022.csv',
 'ODAM_20211023.csv',
 'ODAM_20211024.csv',
 'ODAM_20211025.csv',
 'ODAM_20211026.csv',
 'ODAM_20211027.csv',
 'ODAM_20211028.csv',
 'ODAM_20211029.csv',
 'ODAM_20211030.csv',
 'ODAM_20211031.csv',
 'ODAM_20211101.csv',
 'ODAM_20211102.csv',
 'ODAM_20211103.csv',
 'ODAM_20211104.csv',
 'ODAM_20211105.csv',
 'ODAM_20211106.csv',
 'ODAM_20211107.csv',
 'ODAM_20211108.csv',
 'ODAM_20211109.csv',
 'ODAM_20211110.csv',
 'ODAM_20211111.csv',
 'ODAM_20211112.csv',
 'ODAM_20211113.csv',
 'ODAM_20211114.csv',
 'ODAM_20211115.csv',
 'ODAM_20211116.csv',
 'ODAM_20211117.csv',
 'ODAM_20211118.csv',
 'ODAM_20211119.csv',
 'ODAM_20211120.csv',
 'ODAM_20211121.csv',
 'ODAM_20211122.csv',
 'ODAM_20211123.csv',
 'ODAM_20211124.csv',
 'ODAM_20211125.csv',
 'ODAM_20211126.csv',
 'ODAM_20211127.csv',
 'ODAM_20211128.csv',
 'ODAM_20211129.csv',
 'ODAM_20211130.csv',
 'ODAM_20211201.csv',
 'ODAM_20211203.csv',
 'ODAM_20211204.csv',
 'ODAM_20211205.csv',
 'ODAM_20211206.csv',
 'ODAM_20211207.csv',
 'ODAM_20211208.csv',
 'ODAM_20211209.csv',
 'ODAM_20211210.csv',
 'ODAM_20211211.csv',
 'ODAM_20211212.csv',
 'ODAM_20211213.csv',
 'ODAM_20211214.csv',
 'ODAM_20211215.csv',
 'ODAM_20211216.csv',
 'ODAM_20211217.csv',
 'ODAM_20211218.csv',
 'ODAM_20211219.csv',
 'ODAM_20211220.csv',
 'ODAM_20211221.csv',
 'ODAM_20211222.csv',
 'ODAM_20211223.csv',
 'ODAM_20211224.csv']

In [19]:
df = pd.DataFrame({})
for filename in file_list_py:
    data = pd.read_csv(f'C:\workspace\elice_jupyter\data\weather\{filename}', skiprows=23, on_bad_lines='skip')
    df = linkDfData(df, data)
df.to_csv('sum.csv')

In [20]:
# PTY: 강수형태 
# - 없음(0)
#   비(1) 
#   비/눈(2) => 눈
#   눈(3) => 눈
# 소나기(4) => 비
# 빗방울(5) => 비
# 빗방울/눈날림(6) => 눈
# 눈날림(7) => 눈

In [21]:
df = pd.read_csv('C:\workspace\elice_jupyter\sum.csv', parse_dates=["date"])
df['day'] = df['date'].dt.day_name()
df = df[['date','weather','day']]
df.to_csv('sum2.csv')

In [22]:
## 주문량 데이터 정리

In [23]:
data2019 = pd.read_csv('C:\workspace\elice_jupyter\data\elicer_2019.csv', header=None)
data2020_1 = pd.read_csv('C:\workspace\elice_jupyter\data\elicer_2020_1.csv', header=None)
data2020_2 = pd.read_csv('C:\workspace\elice_jupyter\data\elicer_2020_2.csv', header=None)
data2021 = pd.read_csv('C:\workspace\elice_jupyter\data\elicer_2021.csv', header=None)

In [24]:
data = pd.concat([data2019, data2020_1, data2020_2, data2021])
data

                 0   1     2         3    4   5
0       2019-08-01   0   강원도       속초시   교동   1
1       2019-08-01   0   경기도  고양시 일산동구  마두동   4
2       2019-08-01   0   경기도  고양시 일산동구  백석동  28
3       2019-08-01   0   경기도  고양시 일산동구  식사동   3
4       2019-08-01   0   경기도  고양시 일산동구  장항동   4
...            ...  ..   ...       ...  ...  ..
707638  2021-08-31  23  충청남도   천안시 서북구  쌍용동   6
707639  2021-08-31  23  충청북도       제천시  신백동   6
707640  2021-08-31  23  충청북도       제천시  신월동   2
707641  2021-08-31  23  충청북도       제천시  천남동   1
707642  2021-08-31  23  충청북도       제천시  하소동   4

[2382981 rows x 6 columns]

In [25]:
data = data[data[2] == '서울특별시']
data = data[[0,1,5]]
data

                 0   1   5
28      2019-08-01   0  13
29      2019-08-01   0   4
30      2019-08-01   0   9
31      2019-08-01   0   3
32      2019-08-01   0   3
...            ...  ..  ..
707616  2021-08-31  23   7
707617  2021-08-31  23   1
707618  2021-08-31  23   5
707619  2021-08-31  23   1
707620  2021-08-31  23   4

[357213 rows x 3 columns]

In [26]:
data = data.groupby(by=[0,1], as_index=False).sum()
data

                0   1    5
0      2019-08-01   0   79
1      2019-08-01   1   51
2      2019-08-01   2    3
3      2019-08-01   9    3
4      2019-08-01  10   64
...           ...  ..  ...
16827  2021-08-31  19  339
16828  2021-08-31  20  235
16829  2021-08-31  21  170
16830  2021-08-31  22   92
16831  2021-08-31  23   46

[16832 rows x 3 columns]

In [27]:
dateList = []
for i in range(len(data)):
    dateList.append(pd.to_datetime(data.iloc[i][0]+' '+str(data.iloc[i][1])+':00'))

In [28]:
data['date'] = dateList

In [29]:
data['orderQty'] = data[5]

In [30]:
data = data[['date','orderQty']]

In [31]:
data

                     date  orderQty
0     2019-08-01 00:00:00        79
1     2019-08-01 01:00:00        51
2     2019-08-01 02:00:00         3
3     2019-08-01 09:00:00         3
4     2019-08-01 10:00:00        64
...                   ...       ...
16827 2021-08-31 19:00:00       339
16828 2021-08-31 20:00:00       235
16829 2021-08-31 21:00:00       170
16830 2021-08-31 22:00:00        92
16831 2021-08-31 23:00:00        46

[16832 rows x 2 columns]

In [32]:
data.to_csv('orderSum.csv')

In [33]:
## 날씨, 주문량 합치기

In [34]:
data1 = pd.read_csv('C:\workspace\elice_jupyter\sum2.csv')
data2 = pd.read_csv('C:\workspace\elice_jupyter\orderSum.csv')
data1 = data1[['date','weather','day']]
data2 = data2[['date','orderQty']]

In [35]:
mergedDf = pd.merge(left = data1 , right = data2, how = "inner", on = "date")

In [36]:
mergedDf.to_csv('weather_quantity.csv')